@if (routerLink(); as link) {
  <a
    [class]="classes()"
    [routerLink]="link"
    [attr.aria-label]="ariaLabel() ?? null"
    [attr.aria-disabled]="linkDisabled()"
    (click)="guardLink($event)">
    <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
  </a>
} @else {
  <button
    [class]="classes()"
    [type]="type()"
    [disabled]="disabled() || loading()"
    [attr.aria-label]="ariaLabel() ?? null"
    [attr.aria-busy]="loading()">
    <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
  </button>
}
<ng-template #buttonContent>
  @if (loading()) {
    <span class="button-spinner" aria-hidden="true"></span>
  }
  <ng-content></ng-content>
</ng-template>
