@use '@angular/material' as mat;

@include mat.core();

$nexa-theme: mat.define-theme((
  color: (theme-type: light, primary: mat.$azure-palette, tertiary: mat.$blue-palette),
  density: (scale: 0)
));

html { @include mat.all-component-themes($nexa-theme); }
